@font-face {
    font-family: 'GWENT';
    src: url('../misc/font/hinted-GWENT-ExtraBold.ttf')  format('truetype'), 
}
@font-face {
    font-family: "HalisGR";
    src: url('../misc/font/HalisGRBook.woff');
}
@font-face {
    font-family: "HalisGR";
    src: url('../misc/font/HalisGRBook.woff');
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: "HalisGR";
    src: url('../misc/font/HalisGRBook.woff');
    font-style: italic, oblique;
}
@font-face {
    font-family: "HalisGR";
    src: url('../misc/font/HalisGRBook.woff');
    font-weight: bold;
   
}
