@font-face {
    font-family: 'GWENT';
    src: url('../misc/font/hinted-GWENT-ExtraBold.ttf')  format('truetype'), 
}

@font-face {
    font-family: 'GWENT';
    src: url('../misc/font/hinted-GWENT-ExtraBold.ttf')  format('truetype'), 
}
