
@import "@/assets/scss/font.scss";  


:root {
    --cardHeight: 175px;
    --cardWidth: 122.5px;
}

body{
    font-family: 'HalisGR';
    // background-color: black;
    margin: 0;
    overflow: hidden;
    color: #000000;
    background-color: rgb(63, 54, 50);
}
.gold-frame{
    position: relative;
    display: flex;
    z-index: 0;
    flex-direction: column;
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-width: 12px;
        border-style: solid;
        border-image-source: url(../misc/frame.png);
        border-image-slice: 12;
        border-image-outset: 0;
        border-image-repeat: repeat;
        pointer-events: none;
    }
}
h1,h2,h3{
    font-family: 'GWENT';
    margin: 0 0 10px;
    color: #c8c8c8;
}

@keyframes cardAppear {
    0% {
      transform: rotateY(270deg) translateZ(150px) translateX(100px);
    }
    
    75% {
        transform: rotateY(350deg) translateZ(0) translateX(0px);
    }
    90% {
        transform: rotateY(350deg) translateZ(-200px) translateX(0px);
    }
    100% {
        transform: rotateY(360deg) translateZ(0px);
    }
}