
@import "@/assets/scss/font.scss";  

body{
    font-family: 'HalisGR';
    // background-color: black;
    margin: 0;
    overflow: hidden;
    color: #c8c8c8;
}
h1,h2,h3{
    font-family: 'GWENT';
    margin: 0 0 10px;
}